WpfDailyPlanner/WpfDailyPlanner/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62995/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62995/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62995/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskToAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskToAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskToAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskToAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTasksFromGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksFromGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTasksFromGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupbyName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupbyName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupbyName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupbyNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupToAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupToAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupToAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupToAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserbyName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserbyName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserbyName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserbyNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTasksByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksByDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTasksByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskToAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTaskToAdd" message="tns:IService1_GetTaskToAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTaskToAddResponse" message="tns:IService1_GetTaskToAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTasks" message="tns:IService1_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTasksResponse" message="tns:IService1_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGroups" message="tns:IService1_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGroupsResponse" message="tns:IService1_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasksFromGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTasksFromGroup" message="tns:IService1_GetTasksFromGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTasksFromGroupResponse" message="tns:IService1_GetTasksFromGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupbyName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGroupbyName" message="tns:IService1_GetGroupbyName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGroupbyNameResponse" message="tns:IService1_GetGroupbyName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupToAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGroupToAdd" message="tns:IService1_GetGroupToAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGroupToAddResponse" message="tns:IService1_GetGroupToAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserbyName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserbyName" message="tns:IService1_GetUserbyName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserbyNameResponse" message="tns:IService1_GetUserbyName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUser" message="tns:IService1_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserResponse" message="tns:IService1_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasksByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTasksByDate" message="tns:IService1_GetTasksByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTasksByDateResponse" message="tns:IService1_GetTasksByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskToAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTaskToAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksFromGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTasksFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupbyName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGroupbyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupToAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGroupToAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserbyName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserbyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksByDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTasksByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62995/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>